@media screen and (max-width:576px) {
    .container {
        padding: 16px;
    }

    .form-part {
        flex-direction: column;
        gap: 16px;
    }

    .bannar-title {
        font-size: 22px;
    }

    .search {
        width: 100%;
    }

    .bannar-des {
        font-size: 14px;
        width: 80%;
    }

    .bannar-part {
        background-position: center center;
        margin-top: 18px;
    }

    .nav-items .icon {
        display: block;

    }

    .nav-text {
        display: none;
    }

    .nav-items {
        width: 15%;
        align-items: center;
        flex-direction: column;
        justify-content: center;

    }

    .nav-logo {
        width: 70%;
    }

    nav .nav-items:hover .nav-text {
        display: block;
    }

    .about {
        flex-direction: column;
        margin-top: 24px;
    }

    .text-part {
        /* border: 2px solid tomato; */

        width: 100%;
    }

    .img-part {
        /* border: 2px solid yellow; */

        width: 100%;
    }

    .header-des {
        margin-bottom: 16px;
        margin-top: 16px;
    }

    .basic-font-color {
        font-size: 14px;
    }

    .header-text {
        font-size: 20px;
    }

    .logo-text {
        font-size: 22px;
    }

    .destinations{
        margin-top: 48px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(7, 1fr);
        gap: 16px;
    }
    .maldives {
        grid-column: span 1;
    }
    .indonesia {
        grid-column: span 1;
    }
    .srilanka {
        grid-column: span 1;
    }
    .northamerica {
        grid-column: span 1;
    }
    
    .kasmir {
        grid-column: span 1;
    }
    .bd {
        grid-column: span 1;
    }
    .bandarban {
        grid-column: span 1;
    }
    .single-card {
        /* border: 2px solid red; */
        /* width: 50%;
        display: flex; */
        flex-basis: 100%;
        /* padding: 32px; */
    }
    .small-heading {
        font-size: 20px;
        margin-top: 16px;
    }
    .img-icon {
        height: 48px;
        /* border: 2px solid red; */
    }
    .travel-offer-subscribe {
        flex-direction: column;
        gap: 24px;
        margin-top: 36px;
    
    }

    .subscrive {
       
        width: 100%;
    
    }
    
    .travel-offer {
        width: 100%;
    }
    .travel-site {
        font-size: 15.8px;
    
    }
    
    .offer-70 {

        font-size: 21px;
       
    }

    .offer-part {
        
        left: 45%;
        bottom: 8%;
    
    }
    .mountains {
        flex-direction: column;
    }

    .watch {
        font-size: 20px;
    }

    .mountain-video {
        width: 100%;
    }
    .footer-hr {
        
        margin: 24px 0;
        width: 80%;
    
        
    }
    .travelling-offers-route {
        flex-direction: column;
    }

    .offer-text {
       order: 2;
       width: 100%;
    }
    .route-img {
        
        order: 1;
        width: 100%;
    }
    
    


}