@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Mulish', sans-serif;

}

.container {
    min-height: 200px;
    /* border: 2px solid red; */
    max-width: 1170px;
    margin: 0 auto;
}

.basic-font-color {
    color: var(--Dark-02, #424247);

    font-size: 16px;
    font-weight: 400;
}

nav {
    display: flex;
    justify-content: space-between;
}

.nav-logo {
    width: 50%;
    min-height: 100px;
    /* border: 2px solid blue; */
}

.nav-items {
    /* border: 2px solid red; */
    width: 50%;
    min-height: 100px;
}

.nav-items .icon {
    display: none;
    padding: 5px;
}

.nav-logo {
    display: flex;
    gap: 16px;
    align-items: center;
}

.logo-text {
    font-size: 36px;
    font-weight: 800;
}

.fa-bars {
    font-size: 20px;
}

.nav-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.nav-items a {
    text-decoration: none;
}

.bannar-part {
    margin-top: 60px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../Images/group13\(1\)\(1\).png');
    /* border: 2px solid red; */
    min-height: 500px;
    background-repeat: no-repeat;
    border-radius: 20px;
    border-radius: 16px;
    width: 100%;
}

.bannar-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    /* border: 5px solid red; */
}

.bannar-title {
    color: #FFF;
    font-size: 64px;
    ;
    font-weight: 800;
    margin-bottom: 24px;
}

.bannar-des {
    color: #FFF;
    /* text-align: center; */
    font-size: 16px;
    width: 60%;
    margin-bottom: 40px;

}

.fa-solid {
    color: white;
}

.search-part {
    /* border: 2px solid red; */
    width: 70%;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    padding: 20px
}

.search {
    border: none;
    padding: 16px;
    color: rgba(19, 19, 24, 0.50);
    width: 50%;
    border-radius: 8px;
}

.form-part {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.btn-primary {
    background: #FF5400;
    color: white;
}

.find-btn {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.about {
    display: flex;
    gap: 30px;
    margin-top: 100px;
}

.header-text {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}

.text-part {
    /* border: 2px solid tomato; */
    min-height: 200px;
    width: 50%;
}

.img-part {
    /* border: 2px solid yellow; */
    min-height: 200px;
    width: 50%;
}

.img-part img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header-des {
    margin-bottom: 20px;
    margin-top: 20px;
}

.text-part ul {
    padding: 20px;
}

.text-part ul li {
    margin-bottom: 10px;
}

.text-part button {
    margin-top: 34px;
}

.btn-clasic {
    border: none;
    color: white;
    padding: 14px 25px;
    font-weight: 800px;
    font-size: 20px;
    border-radius: 8px;

    background: #FF5400;
}






/* single-place {
    border: 2px solid green;
    width: 50%;
    position: relative;
}

single-place img {
    width: 100%;
    height: 100%;
}
.con-name {
    position: absolute;
    bottom: 50%;
    left: 50%;
} */
.destinations {
    margin-top: 48px;
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 24px;
    /* border: 5px solid red; */
}

.single-place {
    /* border: 2px solid blue; */
    width: 100%;
    position: relative;
}

.single-place img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;

}



.maldives {
    grid-column: span 12;
}

.indonesia {
    grid-column: span 12;
}

.srilanka {
    grid-column: span 8;
}

.northamerica {
    grid-column: span 10;
}

.kasmir {
    grid-column: span 6;
}

.bd {
    grid-column: span 10;
}

.bandarban {
    grid-column: span 14;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: #FFF;

    font-size: 28px;
    font-weight: 800;
}

.section-text {
    margin-top: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.place-des {
    margin-top: 24px;
    width: 60%;
}

.card-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    margin-top: 48px;
}

.single-card {
    /* border: 2px solid red; */
    /* width: 50%;
    display: flex; */
    flex-basis: 48%;
    padding: 32px;
}

.card-design1 {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.card-design2 {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.small-heading {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    margin-top: 30px;
    margin-bottom: 10px;
}

.img-icon {
    height: 64px;
    /* border: 2px solid red; */
}

.img-icon img {
    width: 15%;
    height: 100%;
}